<html>
<head>
  
</head>
  <body>
    <div class="box" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<form id="new-user-form" action="/users" method="post">

  <input id="email" type="email" name="email" value=""  placeholder="Enter your e-mail">
  <br>
  <input id="username" type="username" name="username" value=""  placeholder="Enter your username">
  <br>
  <input id="password" type="password" name="password" value="" placeholder="Create password">
  <br>
  <input id="profilepic" type="profilepic" name="profilepic" value="" placeholder="Optional Profile Pic URL">
  <br>
  <input id="submit" type="submit" value="Submit" style="position: relative; top: 50%;left: 50%; transform: translate(-50%, 20%);">
 
</form>
</div>
</body>

</html>